<div class="container">
    <div>
        <button type="button" class="btn btn-default" ng-click="enterProject(project)">进入工作区</button>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>基本资料</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <bt-form-group-2 label-options='{"text":"项目名称："}'>
                    <input data-ng-model="project.name" type="text" class="form-control" required placeholder="项目名称">
                </bt-form-group-2>
                <bt-form-group-2 label-options='{"text":"项目简介："}'>
                    <input data-ng-model="project.introduction" type="text" class="form-control" required
                           placeholder="项目简介">
                </bt-form-group-2>
            </form>
        </div>
        <div class="panel-footer">
            <div class="m-row">
                <div class="pull-right">
                    <button type="button" class="btn btn-success" ng-click="save(project)">保存</button>
                    <button type="button" class="btn btn-default" ng-click="back()">返回</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>导入项目</h4>
        </div>
        <div class="panel-body">
            <div ng-bind="fileName"></div>
            <div id="uploader" class="wu-example">
                <!--用来存放文件信息-->
                <div id="thelist" class="uploader-list"></div>
                <div class="btns">
                    <div id="picker">选择文件</div>
                    <button id="ctlBtn" class="btn btn-default">开始导入</button>
                </div>
            </div>
            <div ng-bind="importProjectMsg"></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Contributors</h4>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>user</th>
                    <th>name</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="member in members">
                    <td ng-bind="member.user.user"></td>
                    <td ng-bind="member.user.name"></td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="delUser('member',member)">删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="m-row">
                <div class="pull-right">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only">Msg</label>
                            <p class="form-control-static" ng-bind="createMemberMsg"></p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="用户名" ng-model="memberUser"
                                   placeholder="用户名"/>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success" ng-click="createUser('member',memberUser)">
                                添加
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Guests</h4>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>user</th>
                    <th>name</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="guest in guests">
                    <td ng-bind="guest.user.user"></td>
                    <td ng-bind="guest.user.name"></td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="delUser('guest',guest)">删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="m-row">
                <div class="pull-right">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only">Msg</label>
                            <p class="form-control-static" ng-bind="createGuestMsg"></p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="用户名" ng-model="guestUser"
                                   placeholder="用户名"/>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success" ng-click="createUser('guest',guestUser)">添加
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>